<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Another bíleks nightmare</h1>
    <p>{{ title }}</p>
<form action="/calculator" method="GET">

    <label for="1stInput">First number input:</label>
    <input type="number" name="1stInput" id="1stInput">
    <br>
    <label for="2ndInput">Second number input:</label>
    <input type="number" name="2ndInput" id="2ndInput">
    <br>
    <label for="operation">Operations:</label>
    <select name="operation" id="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <br>
    <label for="submit">give me anwsah</label>
    <input type="submit" value="submit" id="submit"/>
</form>
<p>{{rewault}}</p>    

</body>
</html>