html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #edc48a;
}
h1{
  font-family: monospace;
  background-color: #a16d23;
  color:#ebe4da;
  font-weight:bold;
  text-align:center;
}
.zhonglus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
p{
   font-family: monospace;
   color:#a16d23;
   text-align:center;
   text-size:25%;
}
table{
   border: 5px solid black;
  
}
h2{
  font-family: monospace;
  background-color: #a16d23;
  color:#ebe4da;
  font-weight:normal;
  text-align:center;
}
ul {
    margin-block-start: 23px;
    margin-block-end: 23px;
    text-align: center;
}
nav {
    text-align: center;
}

nav ul li {
width: 100%;
display: inline;
list-style: none; 
    }

   .navs {
        position: relative;
        font-family: monospace;
        background-color:#a16d23;
        text-align:center;
        color: #ebe4da;
        padding: 20px;
        text-decoration: none;
    }
   .active {
        position: relative;
        font-family: monospace;
        background-color:#bf8634;
        text-align:center;
        color: #ebe4da;
        padding: 20px;
        text-decoration: none;
    }

.navs:hover {
        position: relative;
        font-family: monospace;
        background-color:#875b1b;
        text-align:center;
        color: #ebe4da;
        padding: 20px;
        text-decoration: none;
    }
.big boy{
  width: 100%
  height: 100%
}